*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', 'Liberation Serif';
    box-sizing: border-box;
}

h1{
    font-family: 'Liberation Serif';
    font-size: 20pt;
}

p{
    font-family: 'Times New Roman';
    font-size: 12pt;
}

.Portada{
    background-color: rgb(200, 221, 223);
    border: solid 6px rgb(20, 92, 151);
    height: auto;
    padding: 15px;
    text-shadow: 2px 2px 2px gray;
}

.Titulo{
    text-align: center;
    text-decoration: underline;
    padding: 10px;
}

.Portada img{
    height: 150px;
    width: auto;
    position: absolute;
    top: 13%;
    margin-left: 55%;
    border-radius: 8px;
    box-shadow: 10px 3px 10px 10px;
}

.Contenedor{
    display: grid;
    grid-template-columns: 100%;
    background-color: aliceblue;
}

.Contenedor > div{
    border: solid 6px rgb(15, 18, 92);
    padding: 20px;
}

.Contenedor2{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 20px;
    justify-items: center;
    text-align: center;
    column-gap: 5%;
}

.Contenedor2 div{
    border: solid 6px rgb(128, 85, 85);
    padding: 15px;
}

.Contenedor2 img{
    width: 400px;
    height: auto;
}

.Contenedor4{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 20px;
    justify-items: center;
    text-align: center;
    column-gap: 5%;
}

.Contenedor4 div{
    border: solid 6px rgb(65, 105, 35);
    padding: 15px;
}

.Contenedor4 img{
    width: 350px;
    height: auto;
    padding: 10px;
    transition: all 1s ease;
}

.Contenedor6{
    display: grid;
    grid-template-columns: 47% 47%;
    padding: 20px;
    justify-items: center;
    text-align: center;
    column-gap: 6%;
}

.Contenedor6 div{
    border: solid 6px rgb(185, 129, 62);
    padding: 20px;
}

.Contenedor6 img{
    width: 400px;
    height: auto;
    padding: 10px;
    transition: all 1s ease;
}

img{
    transition: all 1s ease;
}

img:hover{
    transform: scale(1.08);
}

.Contenedor4 img:hover{
    transform: scale(1.15);
}

.Contenedor6 img:hover{
    transform: scale(1.3);
}